.garis  {
    width: 100px;
    border-color: aqua;
}

.btn {
border-radius: 0;
}

.intro, .btn-play {
margin: 10rem 0;
}
.header {
background-image: url(img/bg-header.png);
background-size: cover;
overflow: hidden;
}
.header a {
    color: #fff;
}
.header .dropdown-item {
color: #333;
}
.overlay{
background: rgba(49, 29, 94, 0.5);
color: #fff;
overflow: hidden;
}
.btn, .btn1, .btn:hover {
text-transform: uppercase;
color: #00e0d0;
border-color: #00e0d0;
}
.btn:hover {
background-color: #00e0d0;
color: #000;
}

/* slider */
#slider-home .carousel-indicators {
    position: relative;
    top: 3rem;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 20%;
}

/* story */
.story  {
    font-family: 'Roboto', sans-serif;
    background: white;
    overflow: hidden;
    height: 400px; 
    text-align: justify;
    padding: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
}

/* video */

.video  {
    background-image: url(img/bg-header.png);
    background-size: cover;
    overflow: hidden;
    text-align: center;
    height: auto;
}

.logo {
    float: left;
    width: 100px;
    margin: 50px;
    margin-left: 100px;
}

.image-story {
    float: left;
    margin: 110px;
}

.container  {
    margin: auto;
    max-width: 1024px; 
}

.expertise {
    background: white;
    overflow: hidden;
    height: 670px;
    text-align: center;
    padding: 50px;
    margin: auto;
}

.wrapper { 
    margin-bottom: 20px;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 100px;
    padding: 50px;
}

.box1 { 
    grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 1; 
    grid-row-end: 3; 
}

.content  {
    height: 300px;
    width: 200px;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    background-color: #fff;    
}

.team  {
    background-image: url(img/bg-header2.png);
    background-size: cover;
    overflow: hidden;
    height: auto;
}